#contenedor64{
    position: relative;
    width:1250px;
    top:-80px;
    bottom: 660px;
    height:100px;
    margin-left:10px;
    margin-top:80px;
    background-color:rgb(114, 59, 59);
    border:4px solid #CCC;
    padding:40px 20 10px 10;
}