body{
    background-color: rgb(233, 207, 173);
}


#contenedor {
        position: relative;
        width:1250px;
        top:-80px;
        bottom: 660px;
        height:100px;
        margin-left:10px;
        margin-top:80px;
        background-color:rgb(255, 255, 255);
        border:4px solid #CCC;
        padding:40px 20 10px 10;
        }
    
    
 img {
            left:20px;
            top:5px;
            width:100px;
            height:100px;
        }
#imagen1{
        position:absolute;
        left:900px;
        top:-20px;
        width:-140px;
        height:100px;
    }
#imagen2{
        position:absolute;
        left:1000px;
        top:-30px;
        width:-140px;
        height:100px;
    }

#compra1 {
        position: relative;
        width:1100px;
        top:-80px;
        bottom: 700px;
        height:200px;
        margin-left:10px;
        margin-top:80px;
        background-color:rgb(255, 255, 255);
        border:4px solid #CCC;
        padding:40px 20 10px 10;
        }
#imaga{
            position:absolute;
            left:100px;
            top:150px;
            width:400px;
            height:200px;
        }
#imagan{
            position:absolute;
            left:40px;
            top:20px;
            width:400px;
            height:200px;
        }
#contenedor34{
    position: relative;
    width:250px;
    top:-300px;
    bottom: 200px;
    height:25px;
    margin-left:170px;
    margin-top:20px;
    background-color:rgb(233, 207, 173);
    border:4px solid rgb(185, 178, 178); 
    }
#contenedor34:hover {
    background: darkgrey;
}

#contenedor64 {
position: relative;
width:250px;
top:-350px;
bottom: 100px;
height:25px;
margin-left:670px;
margin-top:20px;
background-color:rgb(233, 207, 173);
border:4px solid rgb(185, 178, 178);
padding:40px 20 10px 10;
}
#contenedor64:hover{
    background: darkgrey;
}

#contenedor94 {
    position: relative;
    width:880px;
    top:-350px;
    bottom: 700px;
    height:100px;
    margin-left:170px;
    margin-top:20px;
    background-color:rgb(233, 207, 173);
    border:4px solid rgb(185, 178, 178);
    padding:40px 20 10px 10;
    }
 #contenedor24 {
        position: relative;
        width:200px;
        top:-20px;
        bottom: 100px;
        height:45px;
        margin-left:870px;
        margin-top:20px;
        background-color:rgb(136, 133, 128);
        border:4px solid rgb(20, 20, 20);
        padding:40px 20 10px 10;
        }
#contenedor24:hover{
     background: rgb(82, 78, 78);
}
#contenedor14 {
    position: relative;
    width:250px;
    top:-320px;
    bottom: 100px;
    height:25px;
    margin-left:175px;
    margin-top:20px;
    background-color:rgb(233, 207, 173);
    border:4px solid rgb(185, 178, 178);
    padding:40px 20 10px 10;
    }
#contenedor4 {
        position: relative;
        width:250px;
        top:-370px;
        bottom: 100px;
        height:25px;
        margin-left:745px;
        margin-top:20px;
        background-color:rgb(233, 207, 173);
        border:4px solid rgb(185, 178, 178);
        padding:40px 20 10px 10;
        }
