img {
    left:20px;
    top:5px;
    width:100px;
    height:100px;
}
#usuario {
    position: absolute;
    left:920px;
    top:-20px;
    width:400px;
    height:200px;
}
#carrito{
    position: absolute;
    left:1100px;
    top:-20px;
    width:400px;
    height:200px;
}

#contenedor34{
    position: absolute;
    width:550px;
    top:120px;
    bottom: 100px;
    height:30px;
    margin-left:670px;
    margin-top:20px;
    background-color:rgb(196, 133, 51);
    border:4px solid rgb(185, 178, 178); 
    }
#contenedor64{
        position: absolute;
        width:550px;
        top:180px;
        bottom: 140px;
        height:28px;
        margin-left:670px;
        margin-top:20px;
        background-color:rgb(196, 133, 51);
        border:4px solid rgb(185, 178, 178); 
        }
#contenedor120{
            position: absolute;
            width:550px;
            top:240px;
            bottom: 140px;
            height:420px;
            margin-left:670px;
            margin-top:20px;
            background-color:rgb(196, 133, 51);
            border:4px solid rgb(185, 178, 178); 
            }
#contenedor94{
            position: absolute;
            width:550px;
            top:690px;
            bottom: 280px;
            height:28px;
            margin-left:670px;
            margin-top:20px;
            background-color:rgb(196, 133, 51);
            border:4px solid rgb(185, 178, 178); 
            }

#contenedor94:hover {
    background-color: rgb(74, 89, 90);
}