body{
    background-color: rgb(233, 207, 173);
}

*{
    margin: 1200;
    padding:0;
    }
    .nav{
        width: 600px;
        margin: -100px auto;
    }
    
    .nav ul{
        list-style-type: none;
    }
    
    .nav li a {
        color: rgb(255, 248, 248);
    }
    .nav> li{
        position: relative;
        display: inline-block;
    }
    
    .nav  li  a{
        display: block;
        padding: 10px 20px;
        color: rgb(13, 13, 14);
        background: rgb(88, 85, 85);
        font-family:'Times New Roman';
        text-decoration: none;
    }
#contenedor {
        position: relative;
        width:1280px;
        top:-80px;
        bottom: 360px;
        height:100px;
        margin-left:10px;
        margin-top:80px;
        background-color:rgb(233, 207, 173);
        border:4px solid rgb(161, 150, 150);
        padding:40px 20 10px 10;
        }
    
    
    
    .nav li a:hover{
        background-color: rgb(109, 122, 60);
    }
    
    .nav li ul{
        display: none;
        position:absolute;
        width: -260p;
    }
    
    .nav > li {
        float: left;
    }
    
    .nav li:hover > ul {
        display: block;
    }
    
    .nav li ul li {
        position:relative;
    
    }
    
    .nav li ul li ul {
        left: 225px;
        top: 0px;
    }
    
    body {
        margin: 0;
    }
    
    
 img {
            left:20px;
            top:5px;
            width:100px;
            height:100px;
        }
#imagen1{
        position:absolute;
        left:900px;
        top:-20px;
        width:-140px;
        height:100px;
    }
#imagen2{
        position:absolute;
        left:1000px;
        top:-30px;
        width:-140px;
        height:100px;
    }
.slider{
        width: 50%;
        height: 200%;
        overflow: hidden;
        position:absolute;
    } 
    
    .slider ul{
        display: flex;
        animation: cambio 20s infinite alternate linear;
        width: 400%;
    }
    
    .slider li{
        width: 100%;
        list-style: none;
    }
    
    
    .slider img{
        width: 100%;
        height: 100%;
        top: -20px;
    }
    
    @keyframes cambio {
        0% {margin-left: 0%;}
        20% {margin-left: 0%;}
    
        25%{margin-left: -100%;}
        45%{margin-left: -100%;}
    
        50%{margin-left: -200%;}
        70%{margin-left: -200%;}
    
        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
        
    }
       
   